## Your Turn -- Activity I:  Bacterial Growth

In [1]:
%cd D:\Pum_Program\HDS_WORK\Year 3\Semester 1\CPE353 Design of experiments\lecture 9

D:\Pum_Program\HDS_WORK\Year 3\Semester 1\CPE353 Design of experiments\lecture 9

In [11]:
print('\nEnabling interactive shell outputs ...')
print('   Use command pass; to disable cell text outputs')
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

import warnings
warnings.filterwarnings('ignore') 
warnings.simplefilter(action="ignore",category=UserWarning)
warnings.simplefilter(action="ignore",category=FutureWarning)

import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
import statsmodels.api as sm



%matplotlib inline
%config InlineBackend.figure_formats = {'png', 'retina'}

Enabling interactive shell outputs ...
   Use command pass; to disable cell text outputs

In [6]:
growth_df = pd.read_excel('lect09-2k-factorial.xlsx', sheet_name='Bacteria')
growth_df

   A  B  Rep1  Rep2  Rep3  Rep4  Rep5  Rep6
0 -1 -1    21    22    23    28    20    26
1  1 -1    37    39    38    38    35    36
2 -1  1    25    26    24    25    29    27
3  1  1    31    34    29    33    30    35

In [7]:
#growth_df.insert(8,"Total",[140,223,156,192],True)
y_response = np.array([[21,22,23,28,20,26],
             [37,39,38,38,35,36],
             [25,26,24,25,29,27],
             [31,34,29,33,30,35]])
total_yres = np.c_[y_response.sum(axis=1)]

In [8]:
growth_df.insert(2,"AB",growth_df['A']*growth_df['B'],True)

In [9]:
k,n = np.log2(len(growth_df)), y_response.shape[1]

contrast_eff = growth_df.iloc[:,:3].mul(total_yres).sum()
print('Contrast effects\n', contrast_eff.to_string(), sep='')

effects = (contrast_eff)/((2**(k-1))*n)
print('\nEffect estimates\n', effects.to_string(), sep='')

ss_eff = (contrast_eff**2)/((2**k)*n)
print('\nSS effects\n', ss_eff.to_string(), sep='')

Contrast effects
A     119
B     -15
AB    -47

Effect estimates
A     9.916667
B    -1.250000
AB   -3.916667

SS effects
A     590.041667
B       9.375000
AB     92.041667

In [12]:
SST = (sum(sum(y_response**2)) - sum(total_yres)**2/y_response.size)[0]
SSE = SST - sum(ss_eff)
MSE = SSE/(y_response.size - len(ss_eff) - 1)
n = 6
df_error = (2**2) * (n-1)
F_a = ss_eff[0] / (SSE/df_error)
F_b = ss_eff[1] / (SSE/df_error)
F_ab = ss_eff[2] / (SSE/df_error)
print("SSE = {:.2f}, MSE = {:.2f}".format(SSE, MSE))
print("F-A",F_a)
print("F-B",F_b)
print("F-AB",F_ab)
p_value_a = stats.f.sf(F_a, 1, df_error)
p_value_b = stats.f.sf(F_b, 1, df_error)
p_value_ab = stats.f.sf(F_ab, 1, df_error)
print("P-value A",p_value_a)
print("P-value B",p_value_b)
print("P-value AB",p_value_ab)

SSE = 102.17, MSE = 5.11
F-A 115.505709624796
F-B 1.8352365415986935
F-AB 18.017944535073397
P-value A 9.290524855305233e-10
P-value B 0.19061715658088677
P-value AB 0.0003969387187647818

#### แปลผล : effect  A ร่วมกับ B มีผลให้ Response แตกต่างกันอย่างมีนัยสำคัญทางสถิติ